body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

#gameBoard{
    /* background-image: url('../images/landscape_blank.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    background-color: orange;
    margin: 0 auto;
    position: absolute;
    left: 26px;
    top: 61px;
    width: 95%;
    height: 75%;
}


.menuBar {
    text-align: center;
}

.menuBar ul > li{
    display: inline-block;
}

.menuBar li img{
    height: 50px;
    width: 80px;
    padding: 20px 75px;

}

.mute_btn{
    transform: scale(-1, -1);
}

#infoArea { 
    display: flex; 
    justify-content: space-around;
}

#gameTimer, #scoreArea { 
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
}


#innerGame:hover{
    cursor: url(../images/hammer.png), auto;
    
}

#innerGame {
    /* background: blue url("../images/8bit-background1.jpg") no-repeat center; */
    background-color: blue;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.moleRow { 
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
}

.moleArea { 
    background-color: lightslategray;
    border: 1px solid black;
    width: 10%;
    height: 15%;
    margin: 0 auto;
    text-align: center;
}

.moleArea > img { 
    position: relative;
    top: -15px;
    margin: 0 auto;
}

.moleArea > img:hover{ 
    position: relative;
    top: -81px;
}

.overlay{
    background-color: lightgreen;
    width: 100%;
    height: 60px;
    display: block;
    position: relative;
    top: -84px;
}

#infoArea { 
    background-color: yellow;
    width: 100%;
    height: 5%;
}

/* #restart_Image, #play_Image, #pause_Image, #setting_Image, .moleArea > img { 
    /* user-drag: none; */
    /* -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
/* } */ 