body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



#gameSurround > img { 
    width: 100%;
}

#gameBoard{
    background-image: url('../images/landscape_blank.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin: 0 auto;
    position: absolute;
    width: 97%;
    height: 100%
}