* { 
    margin: 0px;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    align-items: center; 
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0px;
    box-sizing: border-box;
}

body:before {
content: '';
background: url('../images/hammer_left.png') no-repeat;
visibility: hidden;
position: absolute;
overflow: hidden;
height: 100%;
width: 100%;
margin: 0; 
}

h1 { 
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    color: white; 
    position: absolute;
    top: 0px; 
    margin-top: 90px;
}

#gameBoard{
    margin: 0 auto;
    position: absolute;
    top: 40px;
    width: 100vw;
    height: 75%;
    max-width: 1900px;
}

.mainMenu {
    margin-top: 40px;
}

.menuBar {
    text-align: center;
}

.menuBar ul > li{
    display: inline-block;
}

.menuBar li img{
    height: 50px;
    width: 80px;
    padding: 20px 75px;

}

.mute_btn{
    transform: scale(-1, -1);
}

#infoArea { 
    display: flex; 
    justify-content: space-around;
    color: white;
}

#gameTimer, #scoreArea { 
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
}

#innerGame:hover{
    cursor: url(../images/hammer.png), auto;
}

#innerGame {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.moleRow { 
    display: flex;
    justify-content: space-evenly;
}

.moleArea { 
    width: 10%;
    height: 15%;
    margin: 0 auto;
    text-align: center;
}

.moleArea > img { 
    position: relative;
    width: 110%;
    top: 150px;
    margin: 0 auto;
}

.showPlumber{ 
    position: relative !important;
    top: 20px !important;
}

.overlay{
    background: url("../images/pipe-150.png") no-repeat center;
    background-size: contain;
    width: auto;
    height: 150px;
    display: block;
    position: relative;
    top: 0px;
    margin: 0
}


#restart_Image, #play_Image, #pause_Image, #setting_Image, .moleArea > img { 
    
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 } 

 @media screen and (max-width: 1024px){ 
    .moleArea > img { 
        top: 175px;
        width: 143px;
        left: -17px;
    }

    .overlay { 
        width: 100px;
    }

    .showPlumber { 
        position: relative !important;
        top: -46px !important;
    }
}

 @media screen and (max-width: 768px) {
    body{ 
        background-color: orange;
    }

    #gameBoard { 
        top: 0px;
        margin-top: 10px;
        left: 0px;
        height: 60%;
        width: 100%;
    }

    #infoArea { 
        margin-bottom: 40px;
    }

    #gameTimer, #scoreArea { 
        font-size: 19px;
    }

    #innerGame {
        padding-top: 40px;
        height: 80%;
    }

    .moleRow {
        height: 40px;
    }

    .moleArea > img { 
        top: -20px;
        width: 138px;
        left: -10px;
    }

    .overlay { 
        width: 100px;
        top: -140px;
    }

    .showPlumber { 
        position: relative !important;
        top: -105px !important;
    }

    #infoArea { 
        margin-bottom: 65px;
    }

    .mainMenu {
        margin-top: 20px;
    }

    .menuBar li img { 
        
        padding: 20px 75px;
    }

    .menuBar > ul { 
        padding: 0px;
    }

    .menuBar > ul > li > img { 
        padding: 15px 50px;

    }
 }




 @media screen and (max-width: 375px) {
    body{ 
        background-color: blue;
        width: 360px;
        height: 750px;
    }

    #gameBoard { 
        top: 15px;
        left: 0px;
        height: 65%;
        width: 100%;
    }

    #innerGame{
        padding-top: 80px;
        width: 360px;
    }

    #gameTimer, #scoreArea { 
        font-size: 19px;
    }

    .moleRow {
        height: 40px;
    }

    
    .moleArea { 
        margin-left: 5px;
    }

    .moleArea > img { 
        top: -75px;
        width: 90px;
        left: 0px;
    }

    .overlay { 
        width: 82px;
        top: -160px;
        height: 90px;
    }

    .showPlumber { 
        position: relative !important;
        top: -140px !important;
    }

    #infoArea { 
        margin-bottom: 65px;
    }

    .mainMenu {
        margin-top: 20px;
    }

    .menuBar li img { 
         
        padding: 20px 75px;
    }

    .menuBar > ul { 
        padding: 0px;
    }

    .menuBar > ul > li > img { 
        padding: 15px 15px;

    }
 }